@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}
body{
    font-family: "Poppins",sans-serif;
    color: var(--primary-text-color);
}

.company-logo{
    width: 100px;
    height: 65px;
}
p{
    font-family: "Roboto",sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;

}
.sets{
    width:120px; 
    height:70px;
}

.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    border-bottom: 1.5px black solid;
}
.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}
.nav-links ul{
    gap: 16px;
}
.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: red;
}
.nav-item.active{
    color: var(--accent-color);
}
.search-bar{
    height: 32px;
    gap: 8px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid#bbd0e2;
    font-family: "Roboto",sans-serif;
}
.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
}
main{
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container{
justify-content: space-between;
flex-wrap: wrap;
row-gap: 20px;
align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-10px);
}
.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block: 12px;
}
.news-source{
    margin-block: 12px;
}
.search-bars{
    display: flex;
}.contact-form{
    display: grid;
    place-items: center;
margin-top: 1rem;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 650px;
}
.heading{
    text-align: center;
}
.contact-form{
    display: grid;
    place-items: center;
margin-top: 1rem;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 650px;
}
form input,
form textarea{
    padding:15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: hsla(260, 100%,44%,0.1);
    margin-bottom: 1rem;
    color: var(--text-color);
}
form textarea{
    resize: none;
    height: 200px;
}
.contact-button{
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
}.contact-button:hover{
    background:blue;
}
.copyright{
    background-color: black;
    height: 90px;
    text-align: center;
    color: #f3f3f3;
}
.copyright p{
    background-color: black;
}
@media(max-width:700px) {
    .sets{
        width: 50px;
        height: 50px;
        margin-top: 12px;
    }
    #ipl,#politics{
        display: none;
    }
    nav img{
        margin-left: 5px;
    }
    .search-bar li{
        margin-left: 7px;
    }
    #technology{
        margin-top: 2px;

    }
    .news-input{
        width: 110px;
        margin-left: 2px;
    }
    .search-button{
        margin-right: 30px;
        width: 90px;
    }
    .search-bars{
        display: block;
    }
    .contact-form form{
        width: 300px;
    }
    .contact-button{
        margin-left: 25%;
    }
}